:root {
    --bg: #f7f7f7;
    --text: #111;
    --accent: #4c6fff;
    --max-width: 900px;
    --font: "Inter", system-ui, sans-serif
}

html {
    font-family: var(--font);
    background: var(--bg);
    color: var(--text);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: white;
    border-bottom: 1px solid #ddd;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
}

.nav a {
    text-decoration: none;
    color: var(--text);
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.intro {
    max-width: var(--max-width);
    margin: 3rem auto;
    padding: 0 1rem;
}

.work-grid {
    max-width: var(--max-width);
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}

.project img {
    width: 100%;
    border-radius: 4px;
}

.about {
    max-width: var(--max-width);
    margin: 3rem auto;
    padding: 0 1rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    margin-top: 2rem;
    font-size: 1.9rem;
}

.section-tag {
    color: #555;
    margin-bottom: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    margin-bottom: 3rem;
}

.project-card {
    background: white;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
}

.project-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.project-card h2 {
    margin: 0.5rem 0;
}

.prpject-points {
    padding-left: 1.2rem;
    margin: 0.5rem 0 1rem;
}

.project-points li {
    margin-bottom: 0.3rem;
}

.links a {
    margin-right: 1re,;
    color: #4c6fff;
    text-decoration: none;
    font-weight: 500;
}

.links a:hover {
    text-decoration: underline;
}